// bower:scss
// endbower

@import 'fonts';
@import 'settings';

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: $body-font-stack;
  color: #333;
  width: 100vw;
  max-width: 100%;
  text-align: center;
  margin: 0;
  font-size: between($body-min-size, $body-max-size, 360px, 1140px);
  overflow-x: hidden;
}

p {
  font-size: between($body-min-size, $body-max-size, 360px, 1140px);
}

main {
  padding: 0 $outer-padding;
}

header {
  display: table;
  position: relative;
  height: 100vh;
  width: 100%;

  .header__graphic {
    $graphic-size: 60vw;
    $graphic-size--max: 320px;

    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);

    .cutout {
      $cutout-size: 45vw;
      $cutout-size--max: 240px;
      $position-modifier: 1vw;

      width: $cutout-size;
      height: $cutout-size;
      position: absolute;
      border-radius: 50%;
      top: ($graphic-size - $cutout-size) - $position-modifier;
      left: ($graphic-size - $cutout-size) - $position-modifier;
      z-index: 5;
      background: #fafafa;
      max-width: $cutout-size--max;
      max-height: $cutout-size--max;

      @media screen and (min-width: 530px) {
        top: 80px;
        left: 80px;
      }
    }

    .night {
      position: relative;
      background: #001848;
      border-radius: 50%;
      height: $graphic-size;
      width: $graphic-size;
      overflow: hidden;
      z-index: 1;
      max-width: 320px;
      max-height: 320px;

      .star {
        background: #fff99a;
        position: absolute;
        border-radius: 50%;
      }
    }
  }

  .header__content {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 99;

    h1 {
      text-align: center;
      font-family: $header-stack;
      font-weight: bold;
      font-size: between($header-min-size, $header-max-size, 360px, 1140px);
      letter-spacing: $header-letter-spacing;
      word-spacing: $header-word-spacing;
      margin: 0;
      margin-left: $header-letter-spacing;
      padding-top: 20vh;

      @media screen and (max-width: 360px) {
        font-size: $header-min-size;
        padding: 20px;
        padding-top: 20vh;
      }

      @media screen and (min-width: 1140px) {
        font-size: $header-max-size;
      }
    }

    .mail-link {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .mail-logo {
      pointer-events: none;
      width: 40px;
      height: 40px;
    }
  }
}


.bio {
  min-height: 40vh;
  height: 100%;

  &-skills,
  &-inner {
    text-align: left;
  }
}

.work {
  width: 100%;
  height: 100%;

  &-block {
    margin: 0 auto;

    p, img {
      display: inline-block;
    }

    p {
      margin: $outer-padding 0;
      text-align: left;
    }

    img {
      float: left;
      width: 100vw;
      margin-left: -$outer-padding;
    }
  }
}